# Артефакты Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Виртуальное окружение
.venv/
.env/

# Артефакты тестирования
.coverage
.cache

# Конфигурации IDE/редакторов
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp